.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
}

.top-section {
    display: flex;
    gap: 20px;
}

.collections, .messages {
    flex: 1;
    padding: 60px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.messages {
    flex: 0.3; /* Adjusts the size of the messages section relative to collections */
}

.section {
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.orders-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .health-overview {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.health-chart, .health-tips, .appointments {
    flex: 1;
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 8px;
}

/* Dark Mode */
.dashboard-content.dark{
    background-color: #121212;
    color: white;
}

/* Dark Mode for Collections & Messages */
.dashboard-content.dark .collections,
.dashboard-content.dark .messages {
    background-color: #1e1e1e; /* Dark background */
    color: white;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

/* Dark Mode for Sections */
.dashboard-content.dark .section {
    background-color: #1e1e1e;
    color: white;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

/* Dark Mode for Health Sections */
.dashboard-content.dark .health-chart,
.dashboard-content.dark .health-tips,
.dashboard-content.dark .appointments {
    background-color: #1e1e1e;
    color: white;
}